.header {
  background-color: darkslategray;
  height: 100px;
  text-align: center;
}

.header__nav {
  font-size: 35px;
  font-weight: 700;
  text-decoration: none;
  padding-top: 20px;
}

.link-header {
  color: #ffffff;

  &:hover {
    color: lightslategrey;
  }
}
