.countries__container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
  padding-top: 40px;
}

.countries {
  padding-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 40px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.header {
  background-color: darkslategray;
  height: 100px;
  text-align: center;
}

.header__nav {
  font-size: 35px;
  font-weight: 700;
  text-decoration: none;
  padding-top: 20px;
}

.header__link {
  text-decoration: none;
  color: #ffffff;

  &:hover {
    color: lightslategrey;
  }
}

.home__container {
  text-align: center;
  padding-top: 40px;
}

.home__about-wrapper {
  padding-top: 50px;
  display: grid;
  grid-template-columns: 400px 500px;
  gap: 50px;
  justify-content: center;
}

.image__wrapper {
  display: grid;
  justify-self: center;
  align-self: center;
}

.home__heading2 {
  padding-bottom: 20px;
}

.country__container {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 30px 30px;

}

.link-back {
  font-size: 25px;
  border: 1px solid black;
  padding: 0px 10px;

  &:active {
    color: #000000;
  }
}

.link__wrapper {
  display: grid;
  grid-template-columns: 200px 200px;
  justify-content: center;
  justify-items: center;
}
